input {
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #DEE3EA;
  background-color: #f7fafd;
  font-family: inherit;
  font-size: 13px;
}

::-webkit-input-placeholder { /* Edge */
  color: #abb2bf;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #abb2bf;
}

::placeholder {
  color: #abb2bf;
}
